#surface{
    padding: 25px 0;
    background-color: #f1f1f1;
    .container{
        width: 1400px;
        margin: 0 auto;
        .sur_text_main{
            h6{
                font-size: 20px;
                text-transform: uppercase;
                color: #222222;
            }
            h4{
                font-size: 40px;
                color: #de4644;
                text-transform: uppercase;
            }
            p{
                width: 570px;
                font-size: 14px;
                color: #222222;
                line-height: 24px;
                margin-top: 15px;
            }
        }
    }
}